{%- set rancher_version = rancher_version | default('v2.13.1') %}
{%- set rancher_repo = rancher_repo | default('https://releases.rancher.com/server-charts/stable') %}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: rancher
    namespace: kube-system
spec:
    chart: rancher
    repo: {{ rancher_repo }}
    targetNamespace: cattle-system
    createNamespace: true
    version: {{ rancher_version }}
    valuesContent: |-
     {%- filter indent(width=6) %}
     {%- include 'rancher/rancher-helm-values.yml.j2' %}
     {%- endfilter %}