{{ lookup('template', 'infra/cloud-init/bootstrap/cloud-init.yml.j2') }}
- path: /var/lib/rancher/rke2/server/manifests/post-deploy-manifests/aws_cloud_controller_manager.yaml
  content: |
    {{ lookup('template', 'localcluster/aws/aws-cloud-controller-manager-helmchart.yml.j2') | indent(4) }}
