{%- set rancher_vm_namespace = rancher_vm_namespace | default('default') -%}
{%- set rancher_cloudinit_secret_name = rancher_cloudinit_secret_name | default('rancher-cloud-init') -%}
{%- set rancher_networkconfig_secret_name = rancher_networkconfig_secret_name | default(rancher_cloudinit_secret_name) -%}
{%- set rancher_pvc_name = rancher_pvc_name | default('rancher-disk-0') -%}
{%- set rancher_vm_ip = rancher_vm_ip | default('127.0.0.1') -%}
  {%- set cert_manager_replica_count = cert_manager_replica_count | default(1) -%}
  {%- set cert_manager_webhook_replica_count = cert_manager_webhook_replica_count | default(1) -%}
  {%- set cert_manager_cainjector_replica_count = cert_manager_cainjector_replica_count | default(1) -%}
  {%- set rancher_replicas = rancher_replicas | default(1) -%}
{%- set rancher_hostname = rancher_hostname | default('rancher-' + rancher_vm_ip|string + '.sslip.io') -%}
{%- set rancher_vm_mac_address = rancher_vm_mac_address | default(false) -%}
{%- set rancher_vm_cpu = rancher_vm_cpu | default(4) -%}
{%- set rancher_vm_memory = rancher_vm_memory | default('8Gi') -%}
{%- set rancher_vm_disk_size = rancher_vm_disk_size | default('50Gi') -%}
{%- set rancher_vm_namespace = rancher_vm_namespace | default('default') -%}
{%- set rancher_cloudinit_secret_name = rancher_cloudinit_secret_name | default('rancher-cloudinit') -%}
{%- set rancher_network_namespace = rancher_network_namespace | default('default') -%}
{%- set rancher_network_name = rancher_network_name | default('rancher-mgmt') -%}
{%- set os_image_name = os_image_name | default('rocky-9-x86-64-qcow2') -%}
{%- set os_image_url = os_image_url | default('https://dl.rockylinux.org/pub/rocky/9/images/x86_64/Rocky-9-GenericCloud-Base.latest.x86_64.qcow2') -%}
---
apiVersion: harvesterhci.io/v1beta1
kind: VirtualMachineImage
metadata:
  name: {{ os_image_name }}
  annotations:
    harvesterhci.io/storageClassName: harvester-longhorn
  labels:
    harvesterhci.io/image-type: raw_qcow2
    harvesterhci.io/os-type: linux
  namespace: default
spec:
  backend: backingimage
  checksum: ''
  displayName: {{ os_image_name }}
  pvcName: ''
  pvcNamespace: ''
  retry: 3
  sourceType: download
  storageClassParameters:
    migratable: 'true'
    numberOfReplicas: '3'
    staleReplicaTimeout: '30'
    #  key: string
  targetStorageClassName: harvester-longhorn
  url: >-
    {{ os_image_url }}
---
apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: {{ rancher_network_name }}
  annotations:
    {}
    #  key: string
  labels:
    {}
    #  key: string
  namespace: {{ rancher_network_namespace }}
spec:
  config: >-
    {"cniVersion":"0.3.1","name":"{{ rancher_network_name }}","type":"bridge","bridge":"mgmt-br","promiscMode":true,"ipam":{}}
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    harvesterhci.io/cloud-init-template: harvester
  name: {{ rancher_cloudinit_secret_name }}
  namespace: {{ rancher_vm_namespace }}
type: Opaque
data:
  networkdata: ""
  userdata: {{ base64_cloud_init.stdout }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    harvesterhci.io/imageId: default/{{ os_image_name }}
  name: {{ rancher_pvc_name }}
  namespace: {{ rancher_vm_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ rancher_vm_disk_size }} 
  storageClassName: longhorn-{{ os_image_name }}
  volumeMode: Block
---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ rancher_hostname }}
  namespace: {{ rancher_vm_namespace }}
spec:
  runStrategy: RerunOnFailure
  template:
    metadata:
      labels:
        harvesterhci.io/vmName: {{ rancher_hostname }}
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: network.harvesterhci.io/mgmt
                    operator: In
                    values:
                      - 'true'
      architecture: amd64
      domain:
        cpu:
          cores: {{ rancher_vm_cpu}}
          sockets: 1
          threads: 1
        devices:
          disks:
            - bootOrder: 1
              disk:
                bus: virtio
              name: disk-0
            - disk:
                bus: virtio
              name: cloudinitdisk
          inputs:
            - bus: usb
              name: tablet
              type: tablet
          interfaces:
            - bridge: {}
              {%- if rancher_vm_mac_address +%}
              macAddress: {{ rancher_vm_mac_address }}
              {%- endif +%}
              model: virtio
              name: default
        features:
          acpi:
            enabled: true
        machine:
          type: q35
        memory:
          guest: {{ rancher_vm_memory }}
        resources:
          limits:
            cpu: '{{ rancher_vm_cpu }}'
            memory: {{ rancher_vm_memory }}
          requests:
            cpu: 250m
            memory: {{ rancher_vm_memory }}
      evictionStrategy: LiveMigrateIfPossible
      hostname: rancher
      networks:
        - multus:
            networkName: {{rancher_network_namespace}}/{{ rancher_network_name }}
          name: default
      terminationGracePeriodSeconds: 120
      volumes:
        - name: disk-0
          persistentVolumeClaim:
            claimName: {{ rancher_pvc_name }}
        - cloudInitNoCloud:
            networkDataSecretRef:
              name: {{ rancher_networkconfig_secret_name }}
            secretRef:
              name: {{ rancher_cloudinit_secret_name }}
          name: cloudinitdisk
