{%- set rancher_gitrepo_name = rancher_gitrepo_name | default("rancher-cluster-repo") -%}
{%- set rancher_gitrepo_branch = rancher_gitrepo_branch | default("main") -%}
{%- set rancher_gitrepo_uri = rancher_gitrepo_uri | default("git@github.com:andrew-morris-rgs/rancher-dev-env.git") +%}
apiVersion: fleet.cattle.io/v1alpha1
kind: GitRepo
metadata:
  name: {{ rancher_gitrepo_name }}
  annotations:
    {}
    #  key: string
  labels:
    {}
    #  key: string
  namespace: fleet-local
spec:
  branch: {{ rancher_gitrepo_branch }}
  correctDrift:
    enabled: true
  clientSecretName: gitops-git-auth
  paths:
    - cluster-gitops/rancher/local-cluster
    - cluster-gitops/rancher/cert-manager
    - cluster-gitops/rancher/rancher
  repo: {{ rancher_gitrepo_uri }}
  targets:
    - clusterSelector:
        matchExpressions:
          - key: provider.cattle.io
            operator: NotIn
            values:
              - harvester
