{%- set rancher_version = rancher_version | default('v2.12.3') %}
{%- set aws_cloud_controller_helm_chart_repo = aws_cloud_controller_helm_chart_repo | default('https://kubernetes.github.io/cloud-provider-aws') %}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: aws-cloud-controller-manager
    namespace: kube-system
spec:
    chart: aws-cloud-controller-manager/aws-cloud-controller-manager
    repo: {{ aws_cloud_controller_helm_chart_repo }}
    targetNamespace: kube-system
    valuesContent: |-
     {{ lookup('template', 'localcluster/aws/aws-cloud-controller-manager-helm-values.yml.j2') | indent(6)}}