{%- set cert_manager_version = cert_manager_version | default('1.19.1') -%}
{%- set cert_manager_repo = cert_manager_repo | default('https://charts.jetstack.io') -%}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: cert-manager
    namespace: kube-system
spec:
    chart: cert-manager
    repo: {{ cert_manager_repo }}
    targetNamespace: cert-manager
    createNamespace: true
    version: {{ cert_manager_version }}
    valuesContent: |-
      {% filter indent(width=6) %}
      {%- include 'certmanager/certmanager-helm-values.yml.j2' %}
      {%- endfilter +%}
      